solutions/D365LightQuotingSystem/Workflows/Lite-CreateSampleandFriendlyID-59FC15D7-8A22-F011-8C4D-6045BD0C3C54.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "rt_sharedcommondataserviceforapps_496ff"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "fc5be311-2bb5-4223-a0f7-fb68fb63285c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "rt_quotelite",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "rt_status"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "622b7138-111f-49fe-82c2-73005776c292"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "rt_quotelinelites",
                  "$filter": "_rt_quotelite_value eq @{triggerOutputs()?['body/rt_quoteliteid']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "40311e53-a3c2-4ed3-8633-d27d29086af8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "rt_samples",
                      "item/rt_samplename": "@{triggerOutputs()?['body/rt_quoteautoid']} - @{items('Apply_to_each')?['rt_lineitemname']}",
                      "item/rt_currentstatus": 126260000,
                      "item/rt_friendlysampleid": "@{triggerOutputs()?['body/rt_quoteautoid']} - @{items('Apply_to_each')?['rt_lineitemname']}",
                      "item/rt_QuoteLite@odata.bind": "@concat('/rt_quotelites(', triggerOutputs()?['body/rt_quoteliteid'], ')')",
                      "item/statuscode": 126260001
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b9d38f52-e154-4574-b3a7-a5a82e89c2db"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/rt_status']",
              126260003
            ]
          },
          "metadata": {
            "operationMetadataId": "d6192ec9-cee5-4fff-b626-f073edfdf059"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}