solutions/D365LightQuotingSystem/Workflows/Lite-CreateTestLine-D271B40C-F122-F011-8C4D-6045BD0C3C54.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "rt_sharedcommondataserviceforapps_496ff"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "b9a31c75-e25b-412e-a0dd-8550c89b7960"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "rt_sample",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "rt_currentstatus"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Get_a_row_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "94d4a3a1-f8ea-4204-9351-a8ca0cf33b1d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "rt_samples",
                  "recordId": "@triggerOutputs()?['body/rt_sampleid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_a_row_by_ID_2": {
              "runAfter": {
                "Get_a_row_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce4c0670-214e-4505-9803-80955ced5d2b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_a_row_by_ID')?['body/_modifiedby_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Add_a_new_row": {
              "runAfter": {
                "Get_a_row_by_ID_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "21ce1aca-37c4-4bd4-8c9e-fae7269de300"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "rt_internaltestresults",
                  "item/rt_testid": "TR-@{triggerOutputs()?['body/rt_friendlysampleid']}",
                  "item/overriddencreatedon": "@triggerOutputs()?['body/modifiedon']",
                  "item/rt_RelatedQuoteLite@odata.bind": "@concat('/rt_quotelites(', triggerOutputs()?['body/_rt_quotelite_value'], ')')",
                  "item/rt_Sample@odata.bind": "@concat('/rt_samples(', triggerOutputs()?['body/rt_sampleid'], ')')\r\n",
                  "item/statuscode": 1,
                  "item/rt_teststatus": 126260000
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/rt_currentstatus']",
              126260003
            ]
          },
          "metadata": {
            "operationMetadataId": "9a692e78-0911-4ef6-8b51-66fa22428527"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}